* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --white: #edf7f6;
  --black: #14110f;
  --red: #ff3a20;
  --blue: #2660a4;
  background: var(--white);
  color: var(--black);
}

.outterContainer {
  width: 80%;
  margin: 5rem auto;
}

.evenSpacedFlexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.verticalFlexContainer {
  display: flex;
  flex-direction: column;
}

.titleMedium {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.listItem {
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  transition: border 0.2s ease;
}

.listItem:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--blue);
}

.alignStart {
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}
